.backgroundLogin{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position:fixed;
    cursor: pointer;
    width:100%;
    top:0;
    left:0;
}

.loginSystem{
    font-size: 15px;  color: #0b58a2;
}

.loginTitle b{
    font-size: 18px; text-align: center; color: #9f191f
}

.boxTopButton {
    margin-right: 5px;
}
.radio-button {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}
.radio-button.checked{
    background-position: -140px 0;
}
#panel-design
{
    padding: 15px  0px 16px 0px;
    border: 2px solid transparent;
    border-color: #e4e7ea;
}
.border-title {
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.refresh-btn{
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}
.form-control{
    /* height: 30px !important; */
    /* padding: 5px !important; */
    border-radius: 0px !important;
}
.select2 .select2-container .select2-container--default .select2-container--focus{
    height: 30px !important;
}
.cutsom-btn{
    padding: 1px 5px;
    border-radius: 0px;
    margin-bottom: 7px;
}

.custom-padding-td{
    padding-left: 5px !important;
    padding-right: 0px !important;
}

.custom-width-td{
    width: 13%;
}
.bottom-padding-0{
    padding-bottom: 0px !important;
}
.bottom-margin-0{
    margin-bottom: 0px !important;
}
.table td, .table th{
    padding: 0.50rem !important;
}

.modal-content{
    text-align: left !important;
}
